

.deleteModalContent{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #414141;
}
.deleteModalHeader{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #09174A;
}
.deleteModalDelete{
    background: #ED7966;
border-radius: 5px;
padding: 10px 38px;
border: none;
color: #FFFFFF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;

}
.deleteModalClose{
    background-color: #FFFFFF;
    border-radius: 5px;
padding: 10px 38px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: rgb(190, 195, 200) 2px solid;
    
    

}