.profileissuedbooks{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #282829;
}
.cardleft{
    border-right: 1px solid;
}
.profiledetails{
    background-color: #fff;
}
